body {
    text-align: center;
    height: 100%;
    background: lemonchiffon;
}

.container-1 {
    align-items: center;
    padding: 5%;
    display: grid;
    grid-template-rows: 1fr 1fr 1fr;
    grid-row-gap: 1em;
}

.flat-2 {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 1em;
}

input {
    width: 100%;
    height: 100%;
    background: chartreuse;
    border: 0;
}

