body {
    text-align: center;

    height: 100%;
    background: lemonchiffon;
}

.container-1 {
    align-items: center;
    padding: 5%;
    display: grid;
    grid-template-rows: 1fr 1fr 1fr;
    grid-row-gap: 1em;
}

/*.box-1 button {*/
/*    padding: 10% 100%;*/
/*}*/

.flat-2 {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}

button {
    padding: 5% 15%;
}

