body {
    text-align: center;
    height: 100%;
    width: 100%;
    background: #eff0d1;
    font-size: 30px;
}

html {
    width: 100%;
    height: 100%;
}

.container-1 {
    width: 100%;
    height: 100%;
    align-items: center;
    padding: 5%;
    display: grid;
    grid-template-rows: 1fr 1fr 1fr 1fr;
    grid-row-gap: 1em;
}

.flat-1 {
    width: 100%;
    height: 100%;
    display: grid;
}

.flat-2 {
    width: 100%;
    height: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 1em;
}

.flat-3 {
    width: 100%;
    height: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 1em;
}

.flat-4 {
    width: 100%;
    height: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 1em;
}

output {
    background: #d7c0d0;
    text-align: center;
    align-items: center;
}

input {
    width: 100%;
    height: 100%;
    background: #77ba99;
    border: 0;
    font-size: 25px;
}

.led_on{
    background: #00ff11;
}

.led_off{
    background: #ff0007;
}
